.App {
  margin: 50px 150px;
}
.header {
  background-color:skyblue;
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 6px;
  margin-bottom: 30px;
}
.select-box {
  align-items: center;
  margin-left: 12px;
  height: 25px;
  border-radius: 6px;
}

.weather {
  display: grid

}
.weathers {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.selected {
  border: 1px solid lightgrey;
  border-radius: 6px;
}